<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectAdd"
        tools:targetApi="31">
        <activity
            android:name=".QRScannerActivity"
            android:exported="false" />
        <activity
            android:name=".QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".QRCodeFullScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ScanningActivity"
            android:exported="false" />
        <activity
            android:name=".LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseLabOptionActivity"
            android:exported="false" />
        <activity
            android:name=".LabReportsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NextActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpLabActivity"
            android:exported="false" />
        <activity
            android:name=".LogInLabActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPrescriptionDetails"
            android:exported="false" />
        <activity
            android:name=".PatientDeactPrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".PatientActPrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".DiseaseDropdown"
            android:exported="false" />
        <activity
            android:name=".PatientPrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".EnterOTPPharmacistActivity"
            android:exported="false" />
        <activity
            android:name=".PharmacistEnterActivity"
            android:exported="false" />
        <activity
            android:name=".MedicineDataActivity"
            android:exported="false" />
        <activity
            android:name=".EnterActivity"
            android:exported="false" />
        <activity
            android:name=".EnterOTPActivity"
            android:exported="false" />
        <activity
            android:name=".MedicineListActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorScanPatientActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".PatientDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".LogInPharmaCistActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".LogInPatientActivity"
            android:exported="false" />
        <activity
            android:name=".LogInDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpPatientActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpPharmacistActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <receiver
            android:name=".AlarmReceiver"
            android:exported="true" />
    </application>

</manifest>